---
import type { TCollectionEntry } from '~/content/utils/blogs';

// https://docs.astro.build/en/guides/images/
import { Image } from 'astro:assets';

import { render } from 'astro:content';

import Layout from '~/layouts/main.astro';
import Link from '~/components/Link.astro';
import RenderTheCode from '~/components/RenderTheCode.astro';
import TailwindTypographyProse from '~/components/TailwindTypographyProse.astro';
import RemoteMarkdown from '~/components/RemoteMarkdown';
import RemoteHTML from '~/components/RemoteHTML';

import { getEntries, mapByLocale } from '~/content/utils/blogs';

import { /*STRAPI_URL,*/ SITE_TITLE, locales } from '~/settings';

//----------------------------------------------------------------------------//

interface Tag {
  title: string;
  href: string;
}

interface Props {
  pageTitle: string;
  title: string;
  description?: string;
  body: string;
  updatedAt?: string;
  imageUrl?: string;
  imageAltText?: string;
  tags?: Tag[];

  entry: TCollectionEntry;
}

interface IStaticPathParams {
  locale: string;
  slug: string;
}

interface IStaticPath {
  params: IStaticPathParams;
  props: Props;
}

//----------------------------------------------------------------------------//

export async function getStaticPaths() {
  const allEntries = await getEntries();

  const entriesByLocale = mapByLocale(allEntries);

  const staticPaths: IStaticPath[] = [];

  locales.forEach((locale) => {
    const entries = entriesByLocale.get(locale) || [];

    entries.forEach((entry) => {
      const {
        title,
        slug,
        description,
        body,
        updatedAt,
        cover,
        coverAltText,
        tags: postTags = []
      } = entry.data;

      const pageTitle = `${title} | ${locale} | ${SITE_TITLE}`;

      let imageUrl: string | undefined;
      let imageAltText: string | undefined;

      if (cover) {
        //imageUrl = cover.url ? `${STRAPI_URL}${cover.url}` : undefined;
        imageUrl = cover.url ? cover.url : undefined;
        imageAltText = coverAltText || cover.alternativeText || cover.name;
      }

      const tags: Tag[] = postTags.map((data) => ({
        title: data.title,
        href: `/${locale}/tags/${data.slug}`
      }));

      staticPaths.push({
        params: { locale, slug },
        props: {
          pageTitle,
          title,
          description,
          body,
          updatedAt,
          imageUrl,
          imageAltText,
          tags,

          entry
        }
      });
    });
  });

  return staticPaths;
}

//----------------------------------------------------------------------------//

const { locale } = Astro.params;

const {
  pageTitle,
  title,
  description,
  body,
  updatedAt,
  imageUrl,
  imageAltText,
  tags = [],

  entry
} = Astro.props;

const { Content } = await render(entry);
---

<Layout
  content={{
    title: pageTitle
  }}
>
  <div class="flex h-screen flex-col items-center gap-4 p-4 pb-10">
    <h2>{pageTitle}</h2>

    <div class="w-full border-b border-gray-300"></div>

    <div class="flex gap-2">
      <Link href="/">Home</Link>

      <span>/</span>

      <Link href={`/${locale}/blogs`}>Blogs</Link>

      <span>/</span>

      <span>{title}</span>
    </div>

    <div class="w-full border-b border-gray-300"></div>

    <div class="flex gap-2">
      <span class="font-semibold">Updated at</span>
      <div>{updatedAt}</div>
    </div>

    {
      tags.length > 0 && (
        <div class="flex gap-2">
          <span class="font-semibold">Tags</span>
          <div class="flex gap-4">
            {tags.map(({ title, href }) => (
              <Link {href}># {title}</Link>
            ))}
          </div>
        </div>
      )
    }

    {
      description && (
        <Fragment>
          <div class="w-full border-b border-gray-300" />

          <div class="flex flex-col gap-2">
            <span class="font-semibold">Description</span>
            <div>{description}</div>
          </div>
        </Fragment>
      )
    }

    {
      imageUrl && (
        <Fragment>
          <div class="w-full border-b border-gray-300" />

          <Image
            src={imageUrl}
            alt={imageAltText}
            class="h-48 w-full object-cover"
            inferSize
          />

          <div class="flex gap-2">
            <span>[ {imageAltText} ]</span>

            <span>{imageUrl}</span>
          </div>
        </Fragment>
      )
    }

    <div class="w-full border-b border-gray-300"></div>

    <h3 class="font-semibold">Loaded content</h3>

    <RenderTheCode code={JSON.stringify(entry, null, 2)} />

    <div class="w-full border-b border-gray-300"></div>

    <h3 class="font-semibold">astro:content</h3>
    <h4 class="italic">{`const { Content } = await render(entry);`}</h4>

    <TailwindTypographyProse class="max-w-4xl">
      <Content />
    </TailwindTypographyProse>

    <div class="w-full border-b border-gray-300"></div>

    <div class="w-full border-b border-gray-300"></div>

    <h3 class="font-semibold">astro-remote - Markdown</h3>
    <h4 class="italic">entry.data.body</h4>

    <TailwindTypographyProse class="max-w-4xl">
      <RemoteMarkdown content={body} />
    </TailwindTypographyProse>

    <div class="w-full border-b border-gray-300"></div>

    <div class="w-full border-b border-gray-300"></div>

    <h3 class="font-semibold">astro-remote - Markup</h3>
    <h4 class="italic">entry.rendered.html</h4>

    <TailwindTypographyProse class="max-w-4xl">
      <RemoteHTML content={entry?.rendered?.html || ''} />
    </TailwindTypographyProse>

    <div>&nbsp;</div>
  </div>
</Layout>
