---
import Layout from '~/layouts/main.astro';
import Link from '~/components/Link.astro';
import RenderTheCode from '~/components/RenderTheCode.astro';

import { getEntries, mapByLocale } from '~/content/utils/pages';

import { SITE_TITLE, locales } from '~/settings';

//----------------------------------------------------------------------------//

interface Page {
  id: string;
  title: string;
  href: string;
}

export async function getStaticPaths() {
  const entries = await getEntries();

  const entriesByLocale = mapByLocale(entries);

  return locales.map((locale) => {
    const content = entriesByLocale.get(locale) || [];

    const contentLength = content.length;
    const contentAsCode = JSON.stringify(content, null, 2);

    const title = `Pages | ${locale} | ${SITE_TITLE}`;

    const pages = content.map(({ data }) => {
      const { documentId: id, title, slug } = data;

      return { id, title, href: `/${locale}/pages/${slug}` } as Page;
    });

    return {
      params: { locale },
      props: { contentLength, contentAsCode, title, pages }
    };
  });
}

//----------------------------------------------------------------------------//

interface Props {
  contentLength: number;
  contentAsCode: string;

  title: string;

  pages: Page[];
}

const { contentLength, contentAsCode: code, title, pages }: Props = Astro.props;
---

<Layout
  content={{
    title
  }}
>
  <div class="flex h-screen flex-col items-center gap-4 p-4">
    <h2>{title}</h2>

    <div class="w-full border-b border-gray-300"></div>

    <div class="flex gap-2">
      <Link href="/">Home</Link>

      <span>/</span>

      <span>Pages</span>
    </div>

    <ul class="list-disc">
      {
        pages.map(({ title, href }) => (
          <li>
            <Link {href}>{title}</Link>
          </li>
        ))
      }
    </ul>

    <div class="w-full border-b border-gray-300"></div>

    <h3>
      Loaded content [ length: {contentLength} ]
    </h3>

    <RenderTheCode {code} />
  </div>
</Layout>
