---
import Layout from '~/layouts/main.astro';
import Link from '~/components/Link.astro';
import RenderTheCode from '~/components/RenderTheCode.astro';

import { getEntries, mapByLocale } from '~/content/utils/tags';

import { SITE_TITLE, locales } from '~/settings';

//----------------------------------------------------------------------------//

interface Tag {
  title: string;
  href: string;
  count: number;
}

export async function getStaticPaths() {
  const entries = await getEntries();

  const entriesByLocale = mapByLocale(entries);

  return locales.map((locale) => {
    const content = entriesByLocale.get(locale) || [];

    const contentLength = content.length;
    const contentAsCode = JSON.stringify(content, null, 2);

    const title = `Tags | ${locale} | ${SITE_TITLE}`;

    const tags = content.map(({ data }) => {
      const { title, slug, blogs = [] } = data;

      return {
        title,
        href: `/${locale}/tags/${slug}`,
        count: blogs.length
      } as Tag;
    });

    return {
      params: { locale },
      props: { contentLength, contentAsCode, title, tags }
    };
  });
}

//----------------------------------------------------------------------------//

interface Props {
  contentLength: number;
  contentAsCode: string;

  title: string;

  tags: Tag[];
}

const { contentLength, contentAsCode: code, title, tags }: Props = Astro.props;
---

<Layout
  content={{
    title
  }}
>
  <div class="flex h-screen flex-col items-center gap-4 p-4">
    <h2>{title}</h2>

    <div class="w-full border-b border-gray-300"></div>

    <div class="flex gap-2">
      <Link href="/">Home</Link>

      <span>/</span>

      <span>Tags</span>
    </div>

    <ul class="list-disc">
      {
        tags.map(({ title, href, count }) => (
          <li>
            <div class="flex gap-2">
              <Link {href}>{title}</Link>
              <span>( {count} )</span>
            </div>
          </li>
        ))
      }
    </ul>

    <div class="w-full border-b border-gray-300"></div>

    <h3>
      Loaded content [ length: {contentLength} ]
    </h3>

    <RenderTheCode {code} />
  </div>
</Layout>
